<h1>Larps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @larps.each do |larp| %>
      <tr>
        <td><%= larp.name %></td>
        <td><%= larp.short_description %></td>
        <td><%= link_to 'Show', larp %></td>
        <td><%= link_to 'Edit', edit_larp_path(larp) %></td>
        <td><%= link_to 'Destroy', larp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Larp', new_larp_path %>
